
body, html {
    height: 100%;
    margin: 0;
    font-family: "Source Sans 3", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


    --gray-50: #f1f2f3;
    --gray-100: #d9dada;
    --gray-200: #c1c2c2;
    --gray-300: #aaabab;
    --gray-400: #949494;
    --gray-500: #808080;
    --gray-600: #666667;
    --gray-700: #4d4e4f;
    --gray-800: #363738;
    --gray-900: #202122;
}

#app {
    display: flex;
    flex-direction: column;
}


